body {
  width: 100%;
  height: 100%;
  margin: 0;
  text-align: center;
}
h1 {
  text-align: center;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
nav a {
  background-color: grey;
  margin-left: 10px;
  margin-right: 10px;
}
p#featured-property {
  width: 800px;
  text-align: center;
}
div {
  background-color: red;
  text-align: center;
  width: 25%;
  float: left;
}